opencv-python==4.10.0.84
tensorflow==2.15.0
numpy>=1.25.0
scikit-image==0.25.0
moviepy==2.1.1
deep-translator==1.11.4
gTTS==2.5.1
pygame==2.6.0
matplotlib==3.9.0
scikit-learn==1.5.0
Pillow==10.4.0


deep-translator==1.11.4
gtts==2.5.1
pygame==2.5.2
arabic-reshaper==3.0.0
python-bidi==0.4.2
Pillow==10.3.0